footer {
  font-family: "Raleway";
  background: var(--main-bg-color);
  display: flex;
  margin-top: 20px;
}

footer .footer-col {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  flex: 1;
}

footer ul {
  margin-top: 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  margin-bottom: 15px;
}

footer h3 {
  font-size: 20px;
  margin: 20px 0;
}

.footer-link {
  text-decoration: none;
  color: var(--black)
}

.footer-link:hover {
  font-weight: 500;
}

@media (max-width: 767.98px) {
  footer {
    flex-direction: column;
  }
}