header {
  margin-bottom: 30px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 10px;
}

.logo-header {
  padding-top: 30px;
  margin-top: -15px;
  width: 60px;
}

.link-header {
  margin-right: 25px;
}

.link-header-activites,
.link-header-hebergements {
  padding: 15px 0;
  text-decoration: none;
  color: var(--black)
}

.link-header a {
  margin-left: 68px;
}

.link-header-activites:hover,
.link-header-hebergements:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

@media (max-width: 767.98px) {
  .header {
    padding: unset;
    align-items: center;
    flex-direction: column;
  }

  .logo-header div {
    width: 61.09px;
    height: 19px;
  }

  .link-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }

  .link-header a {
    margin-left: 0;
    flex-basis: 50%;
    text-align: center;
  }

  .link-header-hebergements {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  .link-header-activites:hover,
  .link-header-hebergements:hover {
    border-top: unset;
  }
}